body {
  margin: 0;
  padding: 0;
  background: url('website_bg.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  text-align: center;
}

.overlay {
  background: rgba(96, 96, 96, 0.551); /* semi-transparent overlay */
   position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;  /* horizontal centering */
  align-items: center;      /* vertical centering */
  padding: 2rem;
  box-sizing: border-box;
}


header {
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
    text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  border-radius: 20px;
}

.tagline {
  font-style: italic;
  color: #ffffff;
  border-radius: 8px;
}

section {
    text-align: center;
  margin-bottom: 5rem;
  border-radius: 40px;
}

ul {
  list-style: none;
  padding: 0;
  border-radius: 8px;
}

ul li {
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

a {
  color: #4ea8de;
  text-decoration: none;
  border-radius: 8px;
}

a:hover {
  text-decoration: underline;
  border-radius: 8px;
}

/* certificates */


.certificates {
  margin-top: 2rem;
  text-align: center;
  color: white;
}

.cert-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  position: relative;
}

.cert-image img {
  width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(255, 255, 255, 0.2);
}

.cert-text {
  max-width: 500px;
  text-align: left;
  background: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 10px;
}

.cert-text h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

.cert-text a {
  display: inline-block;
  margin-top: 1rem;
  color: #4ea8de;
  text-decoration: none;
  font-weight: bold;
}

.cert-text a:hover {
  text-decoration: underline;
}

/* Arrows on the sides */
.cert-arrow {
  background: rgba(255, 255, 255, 0);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.cert-arrow:hover {
  background: rgba(255, 255, 255, 0);
}

.cert-arrow.left {
  order: -1;
}

.cert-arrow.right {
  order: 3;
}

/* discription next to certificate*/
.cert-nav {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cert-nav button {
  background: rgba(255, 255, 255, 0);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border-radius: 100%;
  cursor: pointer;
  transition: background 0.3s;  
}

.cert-nav button:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* download resume */
.resume-button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: #007acc;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s;
  margin-top: 1rem;
}

.resume-button:hover {
  background-color: #005fa3af;
  color: rgba(255, 255, 255, 0.588);
}
